/*----------------HTML Elements---------------------*/

body {
  color: #40514e;
  margin: 0%;
  text-align: center;
  font-family: "Merriweather", serif;
}

p {
  line-height: 2;
}
h1 {
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
  /*line-height: 2;*/
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

hr {
  border-style: none;
  border-bottom: dotted;
  border-width: 6px;
  width: 4%;
  border-color: #eaf6f6;
  margin: 100px auto;
}

/*----------------Classes---------------------*/

.top-container {
  background-color: #bfeaf5;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}

.skill-row {
  width: 50%;
  text-align: left;
  margin: 100px auto 100px auto;
}

.image-chillie {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.image-computer {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.image-profile {
  width: 25%;
}

.text-profile {
  width: 30%;
  margin: auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px; /*Top, left, right, bottom*/
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-me-text {
  width: 40%;
  margin: 40px auto 60px; /*Top, left-right, bottom*/
}

.bottom-container {
  background-color: #66bfbf;
  height: 100px;
  padding: 50px 0 20px;
}

.copyright-text {
  color: #eaf6f6;
  font-size: 0.75 rem;
  padding: 20px 0;
}
